html {
  background-color: #CD5C5C;
}
body {
  width: 80%;
  margin: 0 auto;
}
img{
  height: 200px;
  width: auto;
}
p.serif{
    font-family: "Times New Roman", Times, serif;
  }
p {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}
a:link{
    background-color: yellow;
}
