html {
  background-color: #CD5C5C;
}
body {
  width: 80%;
  margin: 0 auto;
  background: #FFF;
  padding: 20px 40px;
}
img{
  height: 200px;
  width: auto;
  padding: 30px;
}
p{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
p {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}
a:link{
    color: blue;
}
h1{text-align: center;}
h2{text-align: center;}
footer p {
  text-align: center;
  margin: 0;
  padding: 0;
}
